

.header {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 72px;
    color: rgb(100, 100, 100);
    letter-spacing: 5px;
}

/* div {
    border-style: solid;
} */

.lower {
    display: flex;
    margin: 50px;
    justify-content: center;
    gap: 100px;
}

.game,
.info  {
    height: 400px;
    width: 400px;
    padding: 15px;
}
.info {
    border: dashed 1px;
    border-radius: 10px;
    padding: 15px;
    display: grid;
    grid-template-rows: 1fr 1fr 50px;
}

.play1,
.play2 {
    font-family: "Rubik Doodle Shadow", system-ui;
    letter-spacing: 3px;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    display: flex;
    gap: 20px;
    align-items: center;
    word-spacing: 3px;
    height: 60px;
}


.play1name,
.play2name {
    font-family: "Short Stack", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    margin-left: -10px;
}

.play1 {
    color: rgb(255, 36, 40);
}
.play2 {
    color: rgb(57, 116, 245);
}

#play1 {
    color: rgb(255, 36, 40);
}
#play2 {
    color: rgb(57, 116, 245);
}

.game{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    font-size: 100px;
}

#cell1,
#cell2,
#cell4,
#cell5 {
    border-bottom: dashed;
    border-right: dashed;
}
#cell3,
#cell6 {
    border-bottom: dashed;
}
#cell7,
#cell8 {
    border-right: dashed;
}

.game div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: 200;
    color: rgb(95, 95, 95);

}

button {
    height: 30px;
    border-radius: 10px;
    border: solid;
}

button:hover {
    background: rgb(191, 191, 191);
}


.buttons {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.playerNames,
.new_game {
    flex: 1;
    padding: 5px;
}

.status {
    font-family: "Short Stack", cursive;
}

form {
    display: grid;
    grid-template-rows: 60px 60px 40px;
    width: 250px;
    padding: 10px;
    padding-bottom: 0px;
}

input {
    width: 175px;
    padding-left: 5px;
}